<h1>商品一覧<small>
(全<%= @products.count %>件)</small></h1>
<h2>商品ジャンルで一覧を表示する</h2>
<div class ="genre">
  <% @genres.each do |genre| %>
   <%= link_to genre.name,genre_path(genre.id) %>
   <% end %>
</div>

<%= render "product", products_page: @products_page %>