// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pagination {
  text-align: center;
  padding-top: 50px;
}

.pagination p {
  display: inline-block;
  width: 50px;
  height: 30px;
  margin: 0 5px;
  color: #fff;
  background-color: #acabab;
  border-radius: 3px;
  line-height: 30px;
}